
.form-control:not(button){
outline: 0;
background-color: #c6263e !important;

}


i{
font-size:xx-large;
cursor: pointer;

}

.contact3{
width: 100px;
height: 100px;
border-radius: 50%;
background-color: #f72f4e;

padding-top: 24px;
position: absolute;
left: 50%;
bottom: 20px;
transform: translateX(-50%);
max-width: 100%;
height: fit-content;

} 

.switchs{
padding: 7px;
background-color: red;
border-radius: 10px;
cursor: pointer;
width: fit-content;

}







