@font-face {
    font-family: raleway;
    src: url('../font/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family:opensans ;
    src: url('../font/OpenSans-VariableFont_wdth\,wght.ttf');
}

.container2{
width: 1200px;
margin: auto;
max-width: 100%;
padding: 15px;
}
header{
height: 850px;
background-image: url('../img/eBJIgrh3TCeHf7unLQ5e_sailing-5\ \(1\).png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

nav{
padding-top: 33px !important;


a{
font-size: 16px;
color: #f9fafe !important;
font-family: raleway;
display: inline-block;

}
.top{margin-right: 34px;}
.add{margin-right: 30px;}



.sign{
border: 1px solid #f9fafe;
border-radius: 5px;
padding: 0px 38px 0px 38px;
display: block;
}


}


}


.cards1{
margin-top:160px ;
h3{
    font-family: raleway;
font-size: 30px;
color: #343435;
padding-bottom: 9px;
}

.h4{width: 830px;
max-width: 100%;
padding: 0 10px;
margin: auto;
margin-bottom: 80px;
h4{
    font-family:opensans ;
font-size: 16px;
color:#717171 ;
height: 20px;
overflow: hidden;

}

}


.card{
height: 360px;
border: 0;
border-radius: 4px;
margin-bottom: 30px;

.back1{
position:absolute;
z-index: 5;
bottom: 0;
left: 0;
width: 100%;
height: 50%;
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.603) 100%);

}


img{
height: 100%;
object-fit: cover;
}
.sail{
position: absolute;
border-radius: 5px;
background-color: #e7434e;
padding: 6px 15px 12px 15px;
top: 30px;
left: 25px;
z-index: 2;
font-family:opensans ;

img{padding-right: 5px;}

}
.text{
position: absolute;
bottom: 18px;
left: 28px;
font-family:opensans ;
}}}

.expl{
margin-top: 90px;
text-align: center;
a{
padding: 23px 43px 22px 43px;
font-size: 14px;
font-family: raleway;
border: 1px solid rgba(38,38,38,0.3);
color: #343434;
font-family: raleway;
text-decoration: none;
}
}


.boat{
    background-image: url('../img/photo-1452065656801-6c60b6e7cbc5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
height: 600px;
position: relative;
margin-top: 100px;

.back{

width: 100%;
height: 100%;
background-color:  hsla(0, 0%, 33%, 0.6);
position: absolute;
top: 0;
left: 0;
display: flex;
align-items:center ;
justify-content: center;
}
.text2{
text-align: center;
color: #f9fafe !important;



h1{
font-size: 72px;
font-family: raleway;
margin-bottom: 4px !important;
}

h3{
font-size: 30px;
font-family:opensans ;

}

a{
display: inline-block;
font-size: 14px;
text-decoration: none;
color: #f9fafe !important;
padding: 20px 45px 20px 45px;
border-radius: 5px;
background-color: #e7434e;
margin-top: 75px;
}}}




.cards2{
    margin-top: 78px;
h1{
font-size: 30px;
}

h2{
font-size: 16px;



img{
margin-right: 10px;
margin-left: 30px;
position: relative;}}}


.expl1{
    margin-top: 74px;
    text-align: center;
    margin-bottom: 107px;
    a{
    padding: 23px 46px 22px 46px;
    font-size: 14px;
    font-family: raleway;
    border: 1px solid rgba(38,38,38,0.3);
    color: #343434;
    font-family: raleway;
    text-decoration: none;
}
}








footer{
background-color: #404040;
border-top: #e7434e 6px solid ;
.col-lg, .col-lg-4{
text-align: center;

}

.row{padding-top: 33px;}
a{
text-decoration: none;
color: white;
font-size: 14px;
font-family: raleway;
}

li{display: block;}

.foot{

form{
margin-top: 20px;
margin-bottom: 32px;
input{
height: 42px;
width: 300px;
border: 0;

border-top-right-radius: 0px !important;
border-top-left-radius:5 !important;
border-bottom-left-radius:5 !important;
border-bottom-right-radius:0px !important ;

}

button{
border: 0;
border-top-right-radius: 5px !important;
border-top-left-radius:0 !important;
border-bottom-left-radius:0 !important;
border-bottom-right-radius:5px !important ;
width: 130px;
margin-left: -10px;
background-color: #e7434e;
color: white;
}}


li{

div{
display: flex;
    width: 44px;
 height: 44px;
 display: inline-block !important;
border-radius: 50%;
background-color: #717171;
align-items: center;
justify-content: center;
margin-left: 16px;
img{
position: relative;
top: 50%;
transform: translateY(-50%);
}}}}}



























@media (max-width: 800px){
   .boat{
h1{font-size:40px !important;}
h3{font-size: 20px !important;}
   }
    }



@media (min-width: 1600px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1524px;
}
}
